
*.pyc
*.DS_Store
theano/.idea/
.ipynb_checkpoints/
*.pkl
*.gz
*.aux
*.log
paper/sample2e.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/loss.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_mean.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_sample_0.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_sample_1.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_sample_2.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_spike_indicator.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_std.pdf
theano/plotting/loss.pdf
theano/plotting/mnist_lista_plots.zip
theano/plotting/posterior_mean.pdf
theano/plotting/posterior_sample_0.pdf
theano/plotting/posterior_sample_1.pdf
theano/plotting/posterior_sample_2.pdf
theano/plotting/posterior_spike_indicator.pdf
theano/plotting/posterior_std.pdf
theano/compare_freq_bayes/D_100_K_50_L_4_train_1000/loss.pdf
theano/compare_freq_bayes/conclusions_so_fat.txt
theano/compare_mnist/conclusions_so_far.txt
theano/compare_mnist/mnist_100_train_20_layers_K_100_bayes_weights.npz
theano/compare_mnist/mnist_100_train_20_layers_K_100_beta_est.npz
theano/compare_mnist/mnist_100_train_20_layers_K_100_params.npz
theano/compare_mnist/mnist_100_train_20_layers_K_100_quality.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_bayes_weights.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_beta_est.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_params.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_quality.npz
theano/compare_mnist/mnist_results.zip
