
*.pyc
*.DS_Store
theano/.idea/
.ipynb_checkpoints/
*.pkl
*.gz
*.aux
*.log
paper/sample2e.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/loss.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_mean.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_sample_0.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_sample_1.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_sample_2.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_spike_indicator.pdf
theano/compare_mnist/Learnt_dictionary_1000_train/posterior_std.pdf
theano/plotting/loss.pdf
theano/plotting/mnist_lista_plots.zip
theano/plotting/posterior_mean.pdf
theano/plotting/posterior_sample_0.pdf
theano/plotting/posterior_sample_1.pdf
theano/plotting/posterior_sample_2.pdf
theano/plotting/posterior_spike_indicator.pdf
theano/plotting/posterior_std.pdf
theano/compare_freq_bayes/D_100_K_50_L_4_train_1000/loss.pdf
theano/compare_freq_bayes/conclusions_so_fat.txt
theano/compare_mnist/conclusions_so_far.txt
*.npz
theano/compare_mnist/mnist_100_train_20_layers_K_100_bayes_weights.npz
theano/compare_mnist/mnist_100_train_20_layers_K_100_beta_est.npz
theano/compare_mnist/mnist_100_train_20_layers_K_100_params.npz
theano/compare_mnist/mnist_100_train_20_layers_K_100_quality.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_bayes_weights.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_beta_est.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_params.npz
theano/compare_mnist/mnist_100_train_20_layers_K_250_quality.npz

theano/compare_mnist/mnist_results.zip

theano/experiments/synthetic/number_of_layers/9/compare_f_measure_vs_number_of_layers.eps

theano/experiments/synthetic/number_of_layers/9/compare_nmse_vs_number_of_layers.eps

theano/compare_mnist/mnist_data_imac_work.py
theano/compare_mnist/mnist_norm_K_250_results.zip
theano/experiments/active_learning/active_mnist_16_20.zip
theano/experiments/active_learning/active_mnist_results_2_5.zip
theano/experiments/synthetic/number_of_layers/2compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/2compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/undersampling/9/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/number_of_layers/1/compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/1/compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/10/compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/10/compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/2/2compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/2/2compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/3/3compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/3/3compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/4/4compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/4/4compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/5/5compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/5/5compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/6/6compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/6/6compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/7/7compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/7/7compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/8/compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/8/compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/9/compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/9/compare_nmse_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/compare_f_measure_vs_number_of_layers.eps
theano/experiments/synthetic/number_of_layers/results/f_measure_train.eps
theano/experiments/synthetic/number_of_layers/results/f_measure_validation.eps
theano/experiments/synthetic/number_of_layers/results/nmse_train.eps
theano/experiments/synthetic/number_of_layers/results/nmse_validation.eps
theano/experiments/synthetic/number_of_layers/run_long_ista_fista.py
theano/experiments/synthetic/undersampling/1/compare_f_measure_vs_undersampling.eps
theano/experiments/synthetic/undersampling/1/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/10/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/2/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/3/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/4/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/5/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/6/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/7/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/8/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/9/compare_nmse_vs_undersampling.eps
theano/experiments/synthetic/undersampling/results/f_measure_train.eps
theano/experiments/synthetic/undersampling/results/f_measure_validation.eps
theano/experiments/synthetic/undersampling/results/nmse_train.eps
theano/experiments/synthetic/undersampling/results/nmse_validation.eps

paper/BayesianLISTA.bbl
paper/BayesianLISTA.blg
paper/BayesianLISTA.out
paper/BayesianLISTA.pdf
paper/d_testing-eps-converted-to.pdf
paper/z_new_testing-eps-converted-to.pdf
paper/graphics/synthetic_number_of_layers/nmse_validation-eps-converted-to.pdf
paper/graphics/synthetic_number_of_layers/nmse_train-eps-converted-to.pdf
paper/graphics/synthetic_number_of_layers/f_measure_validation-eps-converted-to.pdf
paper/graphics/synthetic_number_of_layers/f_measure_train-eps-converted-to.pdf
theano/experiments/active_learning/mnist_test_2_results/Screen Shot 2018-03-08 at 06.06.02.png
paper/graphics/synthetic_undersampling/nmse_validation-eps-converted-to.pdf
paper/graphics/synthetic_undersampling/nmse_train-eps-converted-to.pdf
paper/graphics/synthetic_undersampling/f_measure_validation-eps-converted-to.pdf
paper/graphics/synthetic_undersampling/f_measure_train-eps-converted-to.pdf
paper/z_new_testing.pdf
theano/experiments/active_learning/mnist_test_3.png
paper/graphics/mnist/100_normalised_f_measure_train-eps-converted-to.pdf
paper/graphics/mnist/100_normalised_f_measure_valid-eps-converted-to.pdf
paper/graphics/mnist/100_normalised_nmse_train-eps-converted-to.pdf
paper/graphics/mnist/100_normalised_nmse_valid-eps-converted-to.pdf
paper/graphics/mnist/250_normalised_f_measure_train-eps-converted-to.pdf
paper/graphics/mnist/250_normalised_f_measure_valid-eps-converted-to.pdf
paper/graphics/mnist/250_normalised_nmse_train-eps-converted-to.pdf
paper/graphics/mnist/250_normalised_nmse_valid-eps-converted-to.pdf
theano/experiments/active_learning/mnist_results_plots/f_measure_validation.eps
theano/experiments/active_learning/mnist_results_plots/nmse_validation.eps
theano/experiments/active_learning/mnist_test_2_rseed_11.py
theano/experiments/active_learning/mnist_test_2_rseed_12.py
theano/experiments/active_learning/mnist_test_2_rseed_13.py
theano/experiments/active_learning/mnist_test_2_rseed_14.py
theano/experiments/active_learning/mnist_test_2_rseed_15.py
theano/experiments/active_learning/synthetic_results_plots/nmse_validation.eps
theano/experiments/mnist/results/100_normalised_f_measure_train.eps
theano/experiments/mnist/results/100_normalised_f_measure_valid.eps
theano/experiments/mnist/results/100_normalised_nmse_train.eps
theano/experiments/mnist/results/100_normalised_nmse_valid.eps
theano/experiments/mnist/results/250_normalised_f_measure_train.eps
theano/experiments/mnist/results/250_normalised_f_measure_valid.eps
theano/experiments/mnist/results/250_normalised_nmse_train.eps
theano/experiments/mnist/results/250_normalised_nmse_valid.eps
theano/PBP_net_lista/d_testing.eps
theano/PBP_net_lista/z_new_testing.eps

paper/graphics/active_mnist/f_measure_validation-eps-converted-to.pdf

paper/graphics/active_mnist/nmse_validation-eps-converted-to.pdf

theano/experiments/mnist/posterior_mean.pdf

theano/experiments/mnist/posterior_sample_0.pdf

theano/experiments/mnist/posterior_sample_1.pdf

theano/experiments/mnist/posterior_sample_2.pdf

theano/experiments/mnist/posterior_spike_indicator.pdf

theano/experiments/mnist/posterior_std.pdf

*.fdb_latexmk
*.fls

review_uai_2018/response_to_reviews.pdf

review_uai_2018/response_to_reviews.bbl

review_uai_2018/response_to_reviews.blg

paper/supplementary.bbl

paper/supplementary.blg

paper/supplementary.pdf

paper/BayesianLISTA.dvi

paper/Isupova.BayesianLISTA.pdf

paper/Isupova.BayesianLISTA.supplementary.pdf

paper/supplementary.out


paper/graphics/synthetic_lambda/f_measure_validation-eps-converted-to.pdf

paper/graphics/synthetic_lambda/nmse_validation-eps-converted-to.pdf

paper/graphics/mnist/100_f_measure_valid-eps-converted-to.pdf

paper/graphics/mnist/100_nmse_valid-eps-converted-to.pdf

paper/graphics/mnist/250_f_measure_valid-eps-converted-to.pdf

paper/graphics/mnist/250_nmse_valid-eps-converted-to.pdf
paper/graphics/mnist/250_f_measure_valid_time-eps-converted-to.pdf
paper/graphics/mnist/250_nmse_valid_time-eps-converted-to.pdf
theano/experiments/active_learning/uai_experiments/active_mnist_16_20.zip
theano/experiments/active_learning/uai_experiments/active_mnist_results_2_5.zip

theano/experiments/mnist/learnt_dict/*
theano/experiments/mnist/random_normalised_dict/*
theano/experiments/mnist/random_not_normalised_dict/*

theano/experiments/active_learning/mnist_test_3_plots/*

paper/supplementary_uncertainty_propagation_sparse_coding.pdf
paper/uncertainty_propagation_sparse_coding.pdf
review_nips_2018/response_to_reviews_nips.pdf

.idea/*
bayesian_lista_src/.idea/*
icassp_2019/graphics/*/*-eps-converted-to.pdf
icassp_2019/paper.bbl
icassp_2019/paper.blg
icassp_2019/paper.out
icassp_2019/paper.pdf

nips_workshop_2018/BayesianLISTA.bbl

nips_workshop_2018/BayesianLISTA.blg

nips_workshop_2018/BayesianLISTA.out

nips_workshop_2018/BayesianLISTA.pdf
icassp_2019/BayesianNNForSparceCoding.pdf
nips_workshop_2018/BayesianLISTA_nips2018workshop.pdf

*.blg
*.out
nips_workshop_2018/camera_ready/BayesianLISTA.pdf
nips_workshop_2018/camera_ready/BayesianLISTA.bbl
*.bbl

SparseUtils/.idea/*
SparseUtils/gauss.pdf
SparseUtils/spsl.pdf
SparseUtils/strong_sparse.pdf
SparseUtils/weak_sparse.pdf
SparseUtils/s_thr.svg
SparseUtils/s_thr.png
nips_workshop_2018/poster/BayesianLISTAposter.pdf
nips_workshop_2018/poster/BayesianLISTAposter.pdf
nips_workshop_2018/poster/BayesianLISTAposter.run.xml
nips_workshop_2018/poster/BayesianLISTAposter-blx.bib
nips_workshop_2018/poster/BayesianLISTAposter.bcf
SparseUtils/delta.pdf
nips_workshop_2018/poster/BayesianLISTAposter.pdf
